.App {
  display: grid;
  justify-content: center;
  
  height: 100vh;
  background: whitesmoke;
  font-family:'Courier New', Courier, monospace
}

.container {
  margin-bottom: 15rem;
  display: grid;
  justify-content: center;
  align-content: center;
}

header {
  text-align: center;
  margin-bottom: 3rem;
  
}


.graph {
  margin-bottom: 4rem;
  background-color: white;
  padding: 4rem;
  border-radius: 20px;

}

.inputs {
  display: flex;
  justify-content: left;
  margin: 1rem;
  gap: calc(2vh + 2px) calc(2vw + 2px);
}

.play-button {
 float: right;
 width: 10rem;
 background-color: #1f939e;
}



/* .inputs button {
  background-color: #1f939e;
  border: hidden;
  border-radius: 40px;
  width: 10rem;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20pt;
} */

.input-wrapper label {
  display: block;
  
  margin: 0.5rem;
}

.input-wrapper input {
  height: 1.5rem;
  border-radius: 20px;
  border: hidden;
  padding: 8px;
  text-align: center;
  font-size: large;
  outline: none;
}

/* .input-wrapper input:focus {
  border: 3px solid #1f939e;
} */


/* For Chrome and Safari  */
  
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button 
{
    -webkit-appearance: none;
    margin: 0;
}
/* For Firefox  */
  
input[type="number"] {
    -moz-appearance: textfield;
}





