.pan-node,
.mix-node,
.bezier-node,
.val-node,
.osc-node,
.env-node,
.eff-node,
.op-node,
.noise-node,
.filter-node,
.dirac-node,
.reverb-node,
.vibrato-node,
.sum-node,
.multi-node,
.out-node {
  height: auto;
  padding: 16px;
  border-radius: 10px;
  background: white;
}

.sum-node {
  border: 2px solid #88dd44;
}
.sum-node hr {
  height: 2px;
  border: none;
  background-color: #88dd44;
  border-radius: 15px;
}

.multi-node {
  border: 2px solid #e37cf0;
}
.multi-node hr {
  height: 2px;
  border: none;
  background-color: #e37cf0;
  border-radius: 15px;
}

.pan-node {
  border: 2px solid #e71;
}
.pan-node hr {
  height: 2px;
  border: none;
  background-color: #e71;
  border-radius: 15px;
}

.mix-node {
  border: 2px solid #f2a679;
}
.mix-node hr {
  height: 2px;
  border: none;
  background-color: #f2a679;
  border-radius: 15px;
}

.val-node {
  border: 2px solid #cf0000;
}
.val-node hr {
  height: 2px;
  border: none;
  background-color: #cf0000;
  border-radius: 15px;
}

.bezier-node {
  border: 2px solid #c0f1cf;
}
.bezier-node hr {
  height: 2px;
  border: none;
  background-color: #c0f1cf;
  border-radius: 15px;
}

.osc-node {
  border: 2px solid #581f9e;
}
.osc-node hr {
  height: 2px;
  border: none;
  background-color: #581f9e;
  border-radius: 15px;
}

.env-node {
  border: 2px solid #d5d51c;
}
.env-node hr {
  height: 2px;
  border: none;
  background-color: #d5d51c;
  border-radius: 15px;
}

.reverb-node {
  border: 2px solid #1f9e3d;
}
.reverb-node hr {
  height: 2px;
  border: none;
  background-color: #1f9e3d;
  border-radius: 15px;
}

.vibrato-node {
  border: 2px solid #9f8744;
}
.vibrato-node hr {
  height: 2px;
  border: none;
  background-color: #9f8744;
  border-radius: 15px;
}

.dirac-node {
  border: 2px solid #7359a3;
}
.dirac-node hr {
  height: 2px;
  border: none;
  background-color: #7359a3;
  border-radius: 15px;
}

.filter-node {
  border: 2px solid #8fad22;
}
.filter-node hr {
  height: 2px;
  border: none;
  background-color: #8fad22;
  border-radius: 15px;
}

.op-node {
  border: 2px solid #9e501f;
}
.op-node hr {
  height: 2px;
  border: none;
  background-color: #9e501f;
  border-radius: 15px;
}

.noise-node {
  border: 2px solid #ff31c1;
}
.noise-node hr {
  height: 2px;
  border: none;
  background-color: #ff31c1;
  border-radius: 15px;
}

.out-node {
  border: 2px solid #1f939e;
}

.out-node hr {
  height: 2px;
  border: none;
  background-color: #1f939e;
  border-radius: 15px;
}

.number-input {
  display: block;
  color: #777;
  font-size: 12px;
  margin: 1rem;
}

.osc-input input {
  display: block;
  padding-left: 5px;
}

.osc-input-dd {
  font-size: 12px;
  padding-inline: 1rem;
}

.react-flow .react-flow__handle {
  width: 16px;
  height: 16px;
  border-radius: 10px;
  background-color: #1f939e;
}
.react-flow .react-flow__edge-path,
.react-flow__connection-path {
  stroke-width: 5px;
  stroke: #1d8892;
}

.react-flow__edge.selected .react-flow__edge-path,
.react-flow__edge:focus .react-flow__edge-path,
.react-flow__edge:focus-visible .react-flow__edge-path {
  stroke: #2dc8d6;
}

select {
  appearance: none;
  outline: 0;
  background: inherit;
  background-image: none;
  width: 100%;
  height: 100%;
  color: black;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 3px;
}

.select {
  position: relative;
  display: block;
  height: 2em;
  line-height: 3;
  overflow: hidden;
  border-radius: 0.25em;
  padding-bottom: 10px;
}

.slidecontainer {
  display: flex;
  flex-direction: column;
}

.slider {
  appearance: none;
  background-color: #1f939e;
  height: 3px;
}

.slider:hover {
  opacity: 1;
}

.btn {
  font-weight: 0;
  font-size: 18px;
  width: 121px;
  color: #fff;
  background-color: #1f939e;
  padding: 13px 38px;
  border: solid #1f939e 1px;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 12px;
  transition: 106ms;
  transform: translateY(0);
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  margin: 1rem;
}

.btn:hover {
  transition: 106ms;
  transform: translateY(-0px);
  background-color: #fff;
  color: #1f939e;
  border: solid 1px #1f939e;
}

.btn-small {
  font-weight: 0;
  font-size: 16px;
  color: #fff;
  background-color: #1f939e;
  padding: 3px 15px;
  border: solid #1f939e 1px;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 6px;
  transition: 106ms;
  transform: translateY(0);
  align-items: center;
  cursor: pointer;
  margin: 1px 5px;
}

.btn-small:hover {
  transition: 106ms;
  /* padding: 10px 48px; */
  transform: translateY(-0px);
  background-color: #fff;
  color: #1f939e;
  border: solid 1px #1f939e;
}

.node-selected {
  box-shadow: 4px 4px 4px grey;
  /* border-width: 5px; */
}
