.val-node,
.osc-node,
.env-node,
.eff-node,
.op-node,
.out-node {
  height: auto;
  padding: 16px;
  border-radius: 10px;
  background: white;
}

.val-node {
  border: 2px solid #ff31c1;
}

.osc-node {
  border: 2px solid #1f939e;
}

.env-node {
  border: 2px solid #d5d51c;
}

.eff-node {
  border: 2px solid #1f9e3d;
}

.op-node {
  border: 2px solid #9e501f;
}

.out-node {
  border: 2px solid #581f9e;
}

.osc-input {
  display: block;
  color: #777;
  font-size: 12px;
  margin: 1rem;
}

.osc-input input {
  display: block;
  padding-left: 5px;
}

.osc-input-dd {
  font-size: 12px;
  padding-inline: 1rem;
}

.react-flow .react-flow__handle {
  width: 16px;
  height: 16px;
  border-radius: 10px;
  background-color: #1f939e;
}
